html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Arial", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container,
.realty {
  margin: 0 auto;
  width: 310px;
  padding: 25px 0;
}

.container__header,
.realty__header {
  margin: 0 0 30px 0;

  font-size: 24px;
  text-align: center;
}

.preview-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
}

.preview-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}

.preview-list__header {
  margin-bottom: 10px;
}

.preview-list__address,
.realty__address {
  align-self: flex-start;
  margin-bottom: 10px;

  font-style: normal;
  font-size: 14px;
}

.preview-list__price,
.realty__price,
.realty__seller {
  align-self: flex-end;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
}

.realty {
  display: flex;
  flex-direction: column;
}

.realty__description {
  margin: 15px 0 20px 0;

  font-size: 14px;
}

.realty-images-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 768px) {
  .container,
  .realty {
    padding: 35px 50px;
    width: 700px;
  }

  .container__header,
  .realty__header {
    margin: 0 0 40px 0;

    font-size: 28px;
  }

  .preview-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .preview-list__item {
    width: 40%;
    margin-bottom: 15px;
  }

  .preview-list__item:nth-child(2n + 1) {
    margin-right: 20%;
  }

  .preview-list__price,
  .realty__price,
  .realty__seller {
    margin-top: auto;
  }

  .realty__description {
    font-size: 16px;
  }

  .realty-images-list {
    flex-direction: row;
    align-items: flex-end;
  }

  .realty-images-list__items {
    width: 24%;
  }

  .realty-images-list__items:not(:nth-child(4n)) {
    margin-right: 1%;
  }
}

@media (min-width: 1000px) {
  .container,
  .realty {
    width: 980px;
  }

  .container__header,
  .realty__header {
    font-size: 36px;
  }

  .preview-list__item,
  .preview-list__item:nth-child(2n + 1) {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 25px;
  }

  .realty__price,
  .realty__address {
    font-size: 16px;
  }

  .realty__description {
    margin-bottom: 30px;

    font-size: 18px;
  }
}
